# .NET build artifacts
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code directories
.vscode/

# Rider directories
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotNet user-specific files
.vs/
