################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Servicii Web/copilot-chat/2b4fd5c3/sessions/de6493a5-ff9e-47bc-aaa3-f980394f250a
/.vs/Servicii Web/FileContentIndex/595a1890-18bf-40c8-8868-6842c8139269.vsidx
/.vs/slnx.sqlite
/.vs/Servicii Web/v17/.wsuo
/.vs/Servicii Web/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/Servicii Web/CopilotIndices/17.13.441.19478/CodeChunks.db
